#fullpage{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background-color: "#D8E7FC";
}

#header {
    position: fixed;
    background: linear-gradient(336.97deg, #0C4CA5 0%, #1662C8 100%);

    top: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
}

#body{
    position: fixed;
    top:170px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;

    
    background: linear-gradient(180deg, #F9FBFF 0%, #F2F8FF 75.52%, #F9FCFF 100%);
    /* blancos */

    box-shadow: 0px 0px 10px rgba(35, 129, 248, 0.1);
    border-radius: 25px 25px 0px 0px;

    overflow: auto;
    padding-bottom: 30px;
}

.sms_payment {
    height: 80px;
    background: white;
    border-radius: 12px;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 2px #eeeeff;
    padding: 10;
}

.sms_payment_datetime {
    font-size: 10px;
    text-align: right;
    color: darkblue;
}

.depositor {
    font-size: 12px;
    text-align: right;
    color: gray;
}

.amount {
    font-size: 30px;
    color: navy;
    text-align: center;
}